*{
    padding: 0;
    color: bisque;
    background-color: rgb(8, 8, 8);
    text-decoration: none;
}

.news-list li {
    padding: 20px 40px;
    border: 1px solid gray;
    line-height: 30px;
    background-color: rgb(20, 20, 20);
    list-style-type: none;
}

.sortParagraph {
    background-color: rgb(8, 8, 8);
}

h1 {
    background-color: rgb(20, 20, 20);
    color: tomato;
}

p {
    background-color: rgb(20, 20, 20);
}

button {
    text-align: center;
    width: 200px;
    padding: 10px;
    background-color: gray
}

div {
    display: flex;
    justify-content: center;
}

.submit {
    width: 100px;
    height: 40px;
}

.input {
    width: 122px;
    height: 35px;
    border: 1px solid white;
}

.input-query {
    height: 30px;
    width: 120px;
    border: 1px solid white;
}

@media (min-width: 768px) {
    .news-list {
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 0.5fr)); 
    grid-auto-rows: minmax(0, auto);
    gap: 25px;
    justify-content: space-evenly;
    }
}

@media (min-width: 1200px) {
    .news-list {
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 0.5fr)); 
    grid-auto-rows: minmax(0, auto);
    gap: 25px;
    justify-content: space-evenly;
    }
}