*{
    padding: 0;
    color: bisque;
    background-color: rgb(8, 8, 8);
}

.search {
    display: flex;
    justify-content: space-around;
}

ul {
    width: 100%;
}

ul li {
    padding: 20px 40px;
    border: 1px solid gray;
    list-style-type: none;
    line-height: 30px;
    background-color: rgb(20, 20, 20);
}

h1 {
    background-color: rgb(20, 20, 20);
    color: tomato;
}

p {
    background-color: rgb(20, 20, 20);
}

button {
    text-align: center;
    width: 200px;
    padding: 10px;
    background-color: gray
}

a {
    text-decoration: none;
}

a:hover {
    background-color: red;
}

.articles-count {
    background-color: rgb(62, 62, 62);
    border: 1px solid gray;
    width: 100px;
    padding: 10px;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}
.input{
    margin-top: 17px;
    font-weight: 900;
    height: 34px;
    width: 60px;
    color: black;
    background-color: rgb(200, 200, 200);
    text-align: center;
}

.submit {
    margin-top: 17px;
    text-align: center;
    font-weight: 900;
    height: 40px;
    width: 120px;
    padding: 10px;
    color: black;
    background-color: rgb(200, 200, 200);
}

.libraryLink {
    margin-top: 17px;
    font-size: 20px;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(62 62 62);
    padding: 10px;
    height: 20px;
}

@media (min-width: 768px) {
    ul {
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 0.5fr)); 
    grid-auto-rows: minmax(0, auto);
    gap: 25px;
    justify-content: space-evenly;
    }
}

@media (min-width: 1200px) {
    ul {
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 0.5fr)); 
    grid-auto-rows: minmax(0, auto);
    gap: 25px;
    justify-content: space-evenly;
    }
}